.content__full {
    background-color: #fff !important;
    padding: 16px !important;
}
select{
    padding: 0px 16px;
    width: 250px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgba(149, 155, 164, 0.32);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(27, 31, 59, 0.65);
    outline: none;
}